@media (min-width: 302px)
{
	#page-not-found
	{
		& h1
		{
			font  : normal 16px AvenirHeavy;
			margin: 20px auto;

		}

		& .go-home
		{
			& a
			{
				font   : normal 12px AvenirHeavy;
				margin : 24px auto;
				padding: 12px 22px 11px 20px;

			}

		}

	}

	#bad-request
	{
		& h1
		{
			font  : normal 16px AvenirHeavy;
			margin: 20px auto;

		}

		& .buttons
		{
			& .go-home
			{
				& a
				{
					font   : normal 12px AvenirHeavy;
					padding: 12px 22px 11px 20px;

				}

			}

			& .reload
			{
				& button
				{
					font   : normal 12px AvenirHeavy;
					padding: 12px 22px 11px 20px;

				}

			}

		}

	}

	#drawer-menu
	{
		& .hamburger
		{
			top	: 24px;
			left: 24px;

		}

		& .menu
		{
			& .title-subtitle
			{
				padding: 24px;

				& .title
				{
					margin: 0 51px 0 0;

				}

				& .subtitle
				{
					margin: -1px 51px 0 1px;

				}

			}

			& .score
			{
				padding: 30px 12px 29px 12px;

			}

			& nav
			{
				& ul
				{
					height: calc(100% - 159px);

					& li
					{
						& a,
						& p
						{
							margin: 0 24px;

						}

						&:last-child
						{
							padding: 24px 0;

						}

						&:last-child
						{
							& a:not(.button)
							{
								margin: 2px 12px 2px 12px;

							}

						}

						& .button
						{
							font   : normal 12px AvenirHeavy;
							padding: 12px 14px 11px 14px;

						}

						& ul
						{
							margin: 0 24px;

							& li
							{
								& a
								{
									margin: 0 0 0 24px;

								}

								&:first-child
								{
									& a
									{
										margin: 0 0 0 24px;

									}

								}

								&:last-child
								{
									& a:not(.button)
									{
										margin: 0 0 0 24px;

									}

								}

							}

						}

					}

				}

			}

		}

		&.opened
		{
			& + .app
			{
				& nav
				{
					padding: 25px 0 6px 23px;

				}

			}

			& .hamburger
			{
				margin-left: calc(100vw - 116px);

			}

		}

	}

	#header
	{
		& nav
		{
			padding: 25px 0 6px 68px;

			& ul
			{
				& li
				{
					& button
					{
						margin: 0 0 0 16px;

					}

				}

			}

		}

		& menu
		{
			padding: 24px 0 23px 0;

			& ul
			{
				& li
				{
					&:first-child button
					{
						margin-left: 24px;

					}

					&:last-child button
					{
						margin-right: 24px;

					}

				}

			}

		}

		&.sticky + main
		{
			padding-top: 70px;

		}

	}

	#appbar
	{
		& nav
		{
			padding: 21px 24px 27px 23px;

			& ul
			{
				& li
				{
					& .title
					{
						margin: 8px 0 -1px 1px;

					}

					& a,
					& button
					{
						&.arrow
						{
							font-size: 22px;

						}

						&.bookmark
						{
							font-size: 20px;

						}

						&.close
						{
							top		 : 1px;
							font-size: 22px;

						}

					}

				}

			}

		}

	}

	main
	{
		padding: 0 24px 24px 24px;

		& section
		{
			& .columns
			{
				& .column
				{
					padding-bottom: 12px;

				}

			}

			&#list
			{
				& .no-records-found
				{
					& h1
					{
						font: normal 16px AvenirHeavy;

					}

					& p
					{
						font: normal 12px AvenirLight;

					}

				}

			}

			&#book-details
			{
				padding-top: 70px;

				& .details
				{
					& .is-mobile
					{
						& .column
						{
							padding-bottom: 25px;

							& a,
							& button
							{
								& svg
								{
									font-size: 20px;

								}

							}

						}

					}

					& .description
					{
						margin: 4px 0 58px 0;

					}

					& .columns:last-child
					{
						& .column
						{
							margin		   : 0 auto;
							max-width	   : 568px;
							justify-content: left;

						}

					}

				}

			}

			&#book-reviews
			{
				margin: 0 auto;

				& .no-records-found
				{
					& h1
					{
						font: normal 16px AvenirHeavy;

					}

					& p
					{
						font: normal 12px AvenirLight;

					}

				}

				& .review
				{
					& .description
					{
						margin: 12px 0 0 0;

					}

					& .is-divider
					{
						width	  : calc(100% - 159px);
						margin-top: -31px;

					}

					& form
					{
						& button
						{
							font   : normal 12px AvenirHeavy;
							padding: 12px 22px 11px 20px;

						}

					}

				}

				& .review:not(:first-child)
				{
					margin-top: 24px;

				}

				& .review:nth-child(2)
				{
					margin-top: -3px;

				}

				& .load-more
				{
					margin: 24px 0 0 0;

					& button
					{
						font   : normal 12px AvenirHeavy;
						padding: 12px 22px 11px 20px;

					}

				}

			}

			&#sign-in, &#sign-out, &#account, &#recover-password
			{
				& form
				{
					padding-top: 67px;

					& button:not(.icon):not(.forgot-password-btn)
					{
						font   : normal 12px AvenirHeavy;
						padding: 12px 14px 11px 14px;

					}

				}

			}

			&#sign-in, &#sign-out, &#recover-password
			{
				& .wizard
				{
					& .page
					{
						margin: 0 24px;

					}

				}

			}

			&#privacy-and-terms
			{
				padding-top: 67px;

			}

		}

	}

	#share
	{
		& aside
		{
			& .is-mobile
			{
				& .item
				{
					& a
					{
						& svg
						{
							font-size: 28px;

						}

					}

				}

			}

		}

	}

	#footer
	{
		padding: 13px 0 12px 11px;

		& span
		{
			font: normal 14px AvenirHeavy;

		}

		& a
		{
			top	   : -19px;
			font   : normal 12px AvenirHeavy;
			right  : 35px;
			padding: 12px 14px 11px 14px;

		}

	}

}

@media (min-width: 320px)
{
	#drawer-menu
	{
		& .menu
		{
			& .title-subtitle
			{
				padding: 21px 24px 21px 24px;

				& .title
				{
					font: normal 16px AvenirHeavy;

				}

				& .subtitle
				{
					font  : normal 12px AvenirLight;
					margin: 1px 51px 0 1px;

				}

			}

			& .score
			{
				padding: 46px 24px 45px 24px;

				& .item
				{
					& p
					{
						font	   : normal 12px AvenirLight;
						line-height: 14px;

					}

				}

			}

			& nav
			{
				& ul
				{
					height: calc(100% - 195px);

					& li
					{
						& a
						{
							font   : normal 16px AvenirHeavy;
							padding: 15px 0 14px 0;

						}
						
						& p
						{
							font   : normal 16px AvenirHeavy;
							padding: 15px 0 12px 0;
						
						}

						&:last-child
						{
							& a:not(.button)
							{
								font  	   : normal 11px AvenirHeavy;
								margin	   : 2px 12px 3px 12px;
								line-height: 1px;

							}

						}

						& ul
						{
							& li
							{
								& a
								{
									font   : normal 14px AvenirMedium;
									padding: 15px 0 15px 0;

								}

								&:first-child
								{
									& a
									{
										padding: 0 0 15px 0;

									}

								}

								&:last-child
								{
									& a:not(.button)
									{
										font   : normal 14px AvenirMedium;
										padding: 16px 0 15px 0;

									}

								}

							}

						}

					}

				}

			}

		}

		&.opened
		{
			& + .app
			{
				& nav
				{
					padding: 22px 0 4px 22px;

				}

			}

		}

	}

	#header
	{
		& nav
		{
			padding: 22px 0 4px 74px;

			& ul
			{
				& li
				{
					& button
					{
						font: normal 14px AvenirMedium;

					}

					&.active button
					{
						font: normal 28px AvenirHeavy;

					}

				}

			}

		}

		& menu
		{
			& ul
			{
				& li
				{
					& button
					{
						font   : normal 12px AvenirMedium;
						padding: 5px 32px 5px 32px;

					}

				}

			}

		}

		&.sticky + main
		{
			padding-top: 73px;

		}

	}

	#appbar
	{
		& nav
		{
			padding: 23px 24px 28px 23px;

		}

	}

	main
	{
		& section
		{
			& .columns
			{
				& .column
				{
					display		   : flex;
					justify-content: center;

					& .book
					{
						width: 100%;

					}

				}

			}

			&#list
			{
				& .book-link
				{
					width: 100%;

				}

			}

			&#book-details
			{
				padding-top: 73px;

			}

			&#book-reviews
			{
				padding-top: 71px;
				
				& .no-records-found
				{
					margin-bottom: 45px;
					
				}

				& .review
				{
					& form
					{
						& .error
						{
							font: normal 11px AvenirLight;

						}

						& .help
						{
							font: normal 11px AvenirHeavy;

						}

					}

				}

			}

			&#sign-in, &#sign-out, &#account, &#recover-password
			{
				& form
				{
					padding-top: 70px;
					
					& a,
					& p
					{
						font: normal 11px AvenirHeavy;

						&.help,
						&.error
						{
							font: normal 11px AvenirLight;

						}

					}

					& .forgot-password
					{
						margin: -35px 0 0 0;

						& button
						{
							font: normal 11px AvenirHeavy;

						}

					}

					& .keep-signedin
					{
						margin: -15px 0 10px 0;

						& .MuiFormControlLabel-label
						{
							font	  : normal 13px AvenirMedium;
							margin-top: 2px;

						}

					}

				}

			}

			&#privacy-and-terms
			{
				padding-top: 71px;

				& .columns
				{
					& .column
					{
						display: block;

					}

				}

			}

		}

	}

}

@media (min-width: 380px)
{
	#drawer-menu
	{
		& .menu
		{
			max-width: 340px;

		}

		&.opened
		{
			& + .app
			{
				transform: translateX(340px);

			}

			& .hamburger
			{
				margin-left: 264px;

			}

		}

	}
	
}

@media (min-width: 425px)
{
	#page-not-found
	{
		& h1
		{
			font  : normal 18px AvenirHeavy;
			margin: 19px auto;

		}

		& .go-home
		{
			& a
			{
				font   : normal 13px AvenirHeavy;
				padding: 14px 18px;

			}

		}

	}

	#bad-request
	{
		& h1
		{
			font  : normal 18px AvenirHeavy;
			margin: 19px auto;

		}

		& .buttons
		{
			& .go-home
			{
				& a
				{
					font   : normal 13px AvenirHeavy;
					padding: 14px 18px;

				}

			}

			& .reload
			{
				& button
				{
					font   : normal 13px AvenirHeavy;
					padding: 14px 18px;

				}

			}

		}

	}

	#drawer-menu
	{
		& .hamburger
		{
			padding: 12px 9px 5px 9px;

		}

		& .hamburger-box
		{
			width : 22px;
			height: 20px;

		}

		& .hamburger-inner
		{
			margin-top: -2px;

			&,
			&::before,
			&::after
			{
				width : 22px;
				height: 4px;

			}

			&::before
			{
				top: -6px;

			}

			&::after
			{
				bottom: -6px;

			}

		}

		& .hamburger--slider
		{
			& .hamburger-inner
			{
				top: 2px;

				&::before
				{
					top: 6px;

				}

				&::after
				{
					top: 12px;

				}

			}

			&.is-active
			{
				.hamburger-inner
				{
					transform: translate3d(0, 6px, 0) rotate(45deg);

					&::before
					{
						transform: rotate(-45deg) translate3d(calc(22px / -7), -2px, 0);

					}

					&::after
					{
						transform: translate3d(0, -12px, 0) rotate(-90deg);

					}

				}

			}

		}

		& .menu
		{
			& .title-subtitle
			{
				padding: 22px 24px 23px 24px;

				& .title
				{
					font  : normal 20px AvenirHeavy;
					margin: 0 64px 0 0;

				}

				& .subtitle
				{
					font  : normal 14px AvenirLight;					
					margin: 2px 64px 0 1px;

				}

			}

			& .score
			{
				padding: 58px 24px 56px 24px;

				& .item
				{
					& p
					{
						font	   : normal 14px AvenirLight;
						line-height: 24px;

					}

				}

			}

			& nav
			{
				& ul
				{
					height: calc(100% - 250px);

					& li
					{
						& a
						{
							font   : normal 20px AvenirHeavy;
							padding: 15px 0 19px 0;

						}

						& p
						{
							font   : normal 20px AvenirHeavy;
							padding: 15px 0 14px 0;

						}

						&:last-child
						{
							& a:not(.button)
							{
								font  	   : normal 12px AvenirHeavy;
								margin	   : 9px 12px 3px 12px;
								line-height: 1px;

							}

						}

						& .button
						{
							font   : normal 13px AvenirHeavy;
							padding: 14px 18px;

						}

						& ul
						{
							height 		 : auto;
							margin		 : 0 24px;
							border-bottom: 1px solid #ebebeb;

							& li
							{
								a
								{
									font   		 : normal 15px AvenirMedium;
									margin	     : 0 0 0 24px;
									padding	     : 19px 0 20px 0;
									border-bottom: 1px solid #ebebeb;

								}

								&:first-child
								{
									& a
									{
										padding	  : 0 0 20px 0;
										border-top: none;

									}

								}

								&:last-child
								{
									padding			: 0;
									margin-top		: 0;
									background-color: initial;

									& a:not(.button)
									{
										font   	     : normal 15px AvenirMedium;
										margin	     : 0 0 0 24px;
										padding	     : 19px 0 20px 0;
										text-align   : left;
										line-height	 : initial;
										border-bottom: none;

									}

								}

							}

						}

					}

				}

			}

		}

		&.opened
		{
			& + .app
			{
				& nav
				{
					padding: 28px 0 10px 22px;

				}

			}

			& .hamburger
			{
				margin-left: 252px;

			}

		}

	}

	#header
	{
		& nav
		{
			padding: 28px 0 10px 86px;
			
		}

		& menu
		{
			padding: 32px 0 31px 0;

		}

		&.sticky + main
		{
			padding-top: 89px;

		}

	}

	#share
	{
		& nav
		{
			padding: 17px 24px 18px 24px;

			& ul
			{
				& li
				{
					& .title
					{
						font: normal 20px AvenirHeavy;

					}
					
					& button
					{
						position: relative;

						&.close
						{
							top		 : 2px;
							font-size: 23px;

						}

					}

				}

			}

		}

		& aside
		{
			padding: 37px 22px 34px 22px;

			& .is-mobile
			{
				& .item
				{
					& a
					{
						& svg
						{
							font-size: 32px;

						}

						& span
						{
							font: normal 14px AvenirLight;

						}

					}

				}

			}

		}

	}

	#appbar
	{
		& nav
		{
			padding: 31px 24px 36px 23px;

			& ul
			{
				& li
				{
					& .title
					{
						font  	 : normal 20px AvenirHeavy;
						margin   : 1px 0 -4px 1px;
						max-width: 242px;

					}

					& button
					{
						&.close
						{
							top: 0;

							&.close-fix
							{
								top: 1px;

							}

						}

					}

				}

			}

		}

	}

	main
	{
		margin: 0 auto 0 auto;

		& section
		{
			& .columns
			{
				& .column
				{
					& .book
					{
						width : 378px;
						height: 250px;

						& .infos
						{
							height		 : 210px;
							margin		 : 20px 0 0 0;
							box-shadow	 : 0 10px 20px rgba(0, 0, 0, .24);
							border-radius: 10px;

							& .title-subtitle
							{
								height: 88px;

								& .title
								{
									font  : normal 20px AvenirHeavy;
									margin: 25px 30px 0 30px;

								}

								& .subtitle
								{
									font  : normal 12px AvenirLight;
									margin: 13px 30px 0 30px;

								}

							}

							& .star-ratings
							{
								margin: 19px 0 0 30px;

							}

							& .rating
							{
								margin: 22px 15px 0 0;

								& span
								{
									font: normal 12px AvenirHeavy;

								}

							}

							& .reviews
							{
								font  : normal 12px AvenirHeavy;
								margin: 16px 30px 0 30px;

							}

							& .arrow
							{
								font  : normal 32px AvenirHeavy;
								right : 29px;
								bottom: 17px;

							}

						}

						& .thumbnail
						{
							width		 : 50%;
							height		 : 100%;
							border-radius: 10px;

							&.thumbnail-curl
							{
								border-radius: 10px 10px 0 10px;

							}

						}

					}

				}

			}

			&#list
			{
				& .book-link
				{
					width: initial;

				}

				& .no-records-found
				{
					& h1
					{
						font: normal 18px AvenirHeavy;

					}

					& p
					{
						font: normal 13px AvenirLight;

					}

				}

			}

			&#book-details
			{
				padding-top: 122px;

				& .details
				{
					& .is-mobile
					{
						& .column
						{
							padding-bottom: 22px;

						}

					}

					& .title
					{
						font: normal 20px AvenirHeavy;

					}

					& .description
					{
						font  : normal 14px AvenirLight;
						margin: 3px 0 63px 0;

					}

				}

			}

			&#book-reviews
			{
				padding-top: 121px;

				& .no-records-found
				{
					margin-top: 68px;

					& h1
					{
						font: normal 18px AvenirHeavy;

					}

					& p
					{
						font: normal 13px AvenirLight;

					}

				}

				& .review
				{
					& .title
					{
						font: normal 20px AvenirHeavy;

					}

					& .description
					{
						font  : normal 14px AvenirLight;
						margin: 29px 0 0px 0;

					}

					& form
					{
						margin: 22px 0 12px 0;

						& button
						{
							font   : normal 13px AvenirHeavy;
							padding: 14px 26px 14px 26px;

						}

						& .error
						{
							font: normal 12px AvenirLight;

						}

						& .help
						{
							font  : normal 12px AvenirHeavy;
							margin: 6px 0 -20px 0;

						}

					}

					& .is-divider
					{
						width	  : 100%;
						position  : relative;
						margin-top: 0;

					}

				}

				& .review:not(:first-child)
				{
					margin-top: 49px;

				}

				& .review:nth-child(2)
				{
					margin-top: 51px;

				}

				& .load-more
				{
					& button
					{
						font   : normal 13px AvenirHeavy;
						padding: 14px 26px 14px 26px;

					}

				}

			}

			&#sign-in, &#sign-out, &#account, &#recover-password
			{
				& form
				{
					padding-top: 117px;

					& h1
					{
						font  : normal 20px AvenirHeavy;
						margin: 0 0 56px 0;

					}

					& input
					{
						padding: 6px 11px 4px 11px;

					}

					& .field
					{
						&:first-child
						{
							margin: 0 0 24px 0;

						}

						&:not(.is-grouped):nth-child(2)
						{
							& input
							{
								padding: 6px 35px 4px 11px;

							}

						}

					}

					& a
					{
						font: normal 12px AvenirHeavy;

					}

					& button:not(.icon):not(.forgot-password-btn)
					{
						font   : normal 13px AvenirHeavy;
						padding: 14px 18px;

					}

					& p:not(.help):not(.error)
					{
						font  : normal 12px AvenirHeavy;
						margin: 16px 0 0 0;

					}

					& p
					{
						&.help
						{
							font  : normal 12px AvenirLight;
							margin: 6px 0 45px 0;

						}

						&.error
						{
							font: normal 12px AvenirLight;

						}

					}

					& .forgot-password
					{
						margin: -59px 0 0 0;

						& button
						{
							font: normal 12px AvenirHeavy;

						}

					}

					& .keep-signedin
					{
						margin: 9px 0 34px 0;

					}

				}

			}

			&#privacy-and-terms
			{
				padding-top: 117px;

				& h1
				{
					font  : normal 20px AvenirHeavy;
					margin: 0 0 53px 0;

				}

				& p
				{
					font: normal 14px AvenirLight;

				}

			}

		}

	}

	#footer
	{
		padding: 13px 0 13px 23px;

		& span
		{
			font: normal 16px AvenirHeavy;

		}

		& a
		{
			top	   : -22px;
			font   : normal 13px AvenirHeavy;
			right  : 47px;
			padding: 14px 18px;

		}

	}

}

@media (min-width: 473px)
{
	main
	{
		& section
		{
			&#sign-in, &#sign-out, &#recover-password
			{
				& .wizard
				{
					& .page
					{
						margin: 0 auto;

					}

				}

			}

		}

	}

}

@media (min-width: 768px)
{
	#appbar
	{
		& nav
		{
			& ul
			{
				& li
				{
					& .title
					{
						max-width: 488px;

					}

				}

			}

		}

	}

	main
	{
		& section
		{
			&#book-reviews
			{
				& .load-more
				{
					margin: 48px 0 24px 0;

					& button
					{
						width: auto;

					}

				}

			}

		}

	}

}

@media (min-width: 769px)
{
	main
	{
		& section
		{
			& .columns
			{
				display	    : block!important;
				margin-left : auto;
				margin-right: auto;

			}

			&#book-details
			{
				& .details
				{
					& .is-mobile
					{
						display: flex!important;

					}

					& .description
					{
						margin: 4px 0 75px 0;

					}

				}

			}

		}

	}

	#share
	{
		& aside
		{
			padding: 64px 24px 60px 24px;

		}

	}

}

@media (min-width: 828px)
{
	main
	{
		max-width: 780px;

		& section:not(#book-details):not(#privacy-and-terms)
		{
			& .columns
			{
				display		: flex!important;
				margin-left : -0.75rem;
				margin-right: -0.75rem;

			}

		}

	}

}

@media (min-width: 1024px)
{
	#appbar
	{
		& nav
		{
			& ul
			{
				& li
				{
					& .title
					{
						max-width: 688px;

					}

				}

			}

		}

	}

}

@media (min-width: 1230px)
{
	main
	{
		max-width: 1182px;

		& section
		{
			&#book-details
			{
				& .details
				{
					& .columns:last-child
					{
						& .column
						{
							max-width: 768px;

						}

					}

				}

			}
			
			&#privacy-and-terms
			{
				& .columns
				{
					& .column
					{
						margin   : 0 auto;
						max-width: 768px;

					}

				}

			}

		}

	}

}

@media (min-width: 1632px)
{
	main
	{
		max-width: 1584px;

	}

}