@import "fonts/fonts.scss";

@include fontFace(AvenirLight, "./fonts/Avenir/Light/AvenirLight");
@include fontFace(AvenirMedium, "./fonts/Avenir/Medium/AvenirMedium");
@include fontFace(AvenirHeavy, "./fonts/Avenir/Heavy/AvenirHeavy");
@include fontFace(AvenirBlack, "./fonts/Avenir/Black/AvenirBlack");

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/base/helpers.sass";
@import "bulma/sass/elements/icon.sass";

@import "bulma-divider/src/sass/index.sass";

$hamburger-layer-color  	  : #ffffff;
$hamburger-hover-opacity	  : 1;
$hamburger-layer-border-radius: 2px;

@import "hamburgers/_sass/hamburgers/hamburgers.scss";
@import "hamburgers/_sass/hamburgers/_base.scss";
@import "hamburgers/_sass/hamburgers/types/_slider.scss";

/*
 * General
 */

*
{
	margin : 0;
	padding: 0;

}

html, body
{
	height: 100%;

}

body
{
	font 	 		: normal 12px AvenirLight;
	color	 		: #000000;
	margin			: 0 auto;
	background-color: #ffffff;

}

a,
button
{
	cursor 		   : pointer;
	outline		   : none;
	text-decoration: none;

	&:focus
	{
		outline: none;

	}

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
{
	-webkit-box-shadow: 0 0 0px 1000px white inset;

}

input::-ms-clear,
input::-ms-reveal
{
    display: none;

}

/*
 * Root
 */

#root
{
	height		 	: 100%;
	background-color: #ffffff;

	& .indiana-scroll-container
	{
		height: 100%;

	}

	&.drawer-menu-opened
	{
		overflow: hidden;

	}

}

/*
 * Loader
 */

.loader
{
	top			    : 0;
	left		    : 0;
	width		    : 100%;
	height		    : 100vh;
	display		    : flex;
	z-index		    : 4;
	position	    : absolute;
	min-height	    : 400px;
	align-items	    : center;
	pointer-events  : none;
    justify-content : center;
	background-color: rgba(255, 255, 255, 0);

	&.covered
	{
		pointer-events: visible;

	}

	&.infinite-scroll
	{
		height    : auto;
		position  : relative;
		min-height: 100px;

	}

}

.loader .MuiCircularProgress-colorPrimary
{
	color: #039be5;

}

/*
 * Bulma is-divider
 */

.is-divider
{
	margin		: 0;
	border-width: 1px;
	border-color: #e9e9e9;

}

/*
 * Snackbar
 */

.MuiSnackbar-root
{
	&.snackbar-success > div
	{
		background-color: #43a047;

	}

	&.snackbar-warning > div
	{
		background-color: #ffc100;

	}

	&.snackbar-danger > div
	{
		background-color: #d32f2f;

	}

	& .snackbar-message
	{
		display		  : flex;
		align-items	  : center;
		flex-direction: row;

		& svg
		{
			font-size	: 16px;
			margin-right: 12px;

		}

	}

}

/*
 * Page Not Found
 */

#page-not-found
{
	top			   : 0;
	left		   : 0;
	width		   : 100%;
	height		   : 100%;
	display		   : flex;
	z-index		   : 1;
	position	   : absolute;
	align-items	   : center;
	flex-direction : column;
    justify-content: center;

	& h1
	{
		font  : normal 14px AvenirHeavy;
		color : #000000;
		margin: 16px auto;

	}

	& .go-home
	{
		width	  : 100%;
		background: #fcfcfc;

		& a
		{
			font		 : normal 11px AvenirHeavy;
			color		 : #ffffff;
			border		 : none;
			display	  	 : table;
			margin		 : 12px auto;
			padding	  	 : 10px 12px 9px 12px;
			background	 : #039be5;
			border-radius: 4px;

		}

	}

}

/*
 * Bad Request
 */

#bad-request
{
	top			   : 0;
	left		   : 0;
	width		   : 100%;
	height		   : 100%;
	display		   : flex;
	z-index		   : 1;
	position	   : absolute;
	align-items	   : center;
	flex-direction : column;
    justify-content: center;

	& h1
	{
		font  : normal 14px AvenirHeavy;
		color : #000000;
		margin: 16px auto;

	}

	& .buttons
	{
		width	  	   : 100%;
		display		   : flex;
		padding	  	   : 24px 0;
		background	   : #fcfcfc;
		justify-content: center;

		& .go-home
		{
			margin: 0 6px 0 0;

			& a
			{
				font		 : normal 11px AvenirHeavy;
				color		 : #ffffff;
				border		 : none;
				display	  	 : table;
				padding	  	 : 10px 12px 9px 12px;
				background	 : #039be5;
				border-radius: 4px;

			}

		}

		& .reload
		{
			margin: 0 0 0 6px;

			& button
			{
				font		 : normal 11px AvenirHeavy;
				color		 : #039be5;
				border		 : none;
				display	  	 : table;
				padding	  	 : 10px 12px 9px 12px;
				background	 : none;
				border-radius: 4px;

				&.colorful
				{
					color	  : #ffffff;
					background: #039be5;

				}

			}

		}

	}

}

/*
 * DrawerMenu
 */

.app
{
	height	  : 100%;
	transition: transform .45s ease;

	&::before
	{
		top				: 0;
		left			: 0;
		width			: 100%;
		height			: 100%;
		content	 		: "";
		z-index			: 5;
		opacity			: 0;
		position		: absolute;
		min-height		: 100vh;
		transition		: opacity .45s ease;
		pointer-events	: none;
		background-color: #000000;

	}

	& nav
	{
		transition: padding .45s ease;

	}

}

#drawer-menu
{
	position: absolute;

	& .hamburger
	{
		top				: 12px;
		left			: 12px;
		padding			: 8px 6px 5px 6px;
		z-index			: 4;
		position		: relative;
		transition		: margin-left .45s ease;
		border-radius	: 50%;
		background-color: #ffc100;

	}

	& .hamburger-box
	{
		width : 16px;
		height: 12px;

	}

	& .hamburger-inner
	{
		margin-top: -1px;

		&,
		&::before,
		&::after
		{
			width : 16px;
			height: 2px;

		}

		&::before
		{
			top: -5px;

		}

		&::after
		{
			bottom: -5px;

		}

	}

	& .hamburger--slider
	{
		& .hamburger-inner
		{
			top: 1px;

			&::before
			{
				top: 5px;

			}

			&::after
			{
				top: 10px;

			}

		}

		&.is-active
		{
			.hamburger-inner
			{
				transform: translate3d(0, 5px, 0) rotate(45deg);

				&::before
				{
					opacity	 : 0;
					transform: rotate(-45deg) translate3d(16px, -2, 0);

				}

				&::after
				{
					transform: translate3d(0, -10px, 0) rotate(-90deg);

				}

			}

		}

	}

	& .menu
	{
		top				: 0;
		left			: 0;
		width			: calc(100vw - 40px);
		height			: 100%;
		z-index			: 3;
		position		: fixed;
		transform		: translateX(-100%);
		transition		: transform .45s ease;
		background-color: #ffffff;

		& .title-subtitle
		{
			padding			: 12px;
			background-color: #fcfcfc;

			& .title
			{
				font		 : normal 14px AvenirHeavy;
				color	 	 : #292929;
				margin		 : 0 39px 0 0;
				overflow	 : hidden;
				white-space  : nowrap; 
				text-overflow: ellipsis;

			}

			& .subtitle
			{
				font		 : normal 10px AvenirLight;
				color	 	 : #929292;
				margin		 : -1px 39px 0 1px;
				overflow	 : hidden;
				white-space  : nowrap; 
				text-overflow: ellipsis;

			}

		}

		& .score
		{
			display		   : flex;
			padding		   : 30px 12px 29px 12px;
			justify-content: space-evenly;

			& .item
			{
				& p
				{
					font	  : normal 10px AvenirLight;
					color	  : #929292;
					text-align: center;

				}

			}

		}

		& nav
		{
			height : inherit;
			padding: 0;

			& ul
			{
				height    : calc(100vh - 135px);
				display   : flex;
				flex-flow : column nowrap;
				overflow-y: auto;

				& li
				{
					width : 100%;
					height: initial;

					& a
					{
						font   	  	 : normal 14px AvenirHeavy;
						color  	  	 : #292929;
						margin	  	 : 0 12px;
						padding	  	 : 11px 0 10px 0;
						display	  	 : block;
						border-bottom: 1px solid #ebebeb;

					}

					&:first-child
					{
						& a
						{
							border-top: 1px solid #ebebeb;

						}

					}

					&:last-child
					{
						padding			: 12px 0;
						margin-top		: auto;
						background-color: #fcfcfc;

						& a:not(.button)
						{
							font   	   : normal 10px AvenirHeavy;
							border 	   : none;
							margin	   : 2px 12px;
							padding	   : 0;
							text-align : center;
							line-height: 1px;

						}

					}

					& .button
					{
						font		 : normal 11px AvenirHeavy;
						color		 : #ffffff;
						border		 : none;
						display	  	 : table;
						margin		 : 0 auto;
						padding	  	 : 10px 12px 9px 12px;
						background	 : #039be5;
						border-radius: 4px;

					}

				}

			}

		}

	}

	& .overlay
	{
		top	      : 0;
		left	  : 0;
		width	  : 100vw;
		height	  : 100vh;
		z-index	  : 2;
		opacity	  : 0;
		position  : fixed;
		background: #000000;
		transition: opacity .25s ease-in-out;

	}

	&.opened
	{
		& + .app
		{
			transform: translateX(calc(100% - 40px));

			& nav
			{
				padding: 13px 0 6px 11px;

			}

		}

		& + .app
		{
			&::before
			{
				opacity		  : .75;
				pointer-events: initial;

			}

		}

		& .hamburger
		{
			position   : fixed;
			margin-left: calc(100vw - 92px);

		}

		& .menu
		{
			transform : translateX(0);
			box-shadow: 5px 0 5px -5px rgba(0, 0, 0, .24);

		}

		& .overlay
		{
			opacity: .7;

		}

	}

}

/*
 * Header
 */

#header
{
	z-index			: 2;
	position		: relative;
	background-color: #ffffff;

	& nav
	{
		padding: 13px 0 6px 50px;

		& ul
		{
			display	  : flex;
			list-style: none;

			& li
			{
				height	  : 0;
				align-self: baseline;

				& button
				{
					font  	  : normal 12px AvenirMedium;
					color 	  : #929292;
					border	  : none;
					margin	  : 0 0 10px 11px;
					background: none;

				}

				&.active button
				{
					font : normal 22px AvenirHeavy;
					color: #000000;

				}

				&:first-child button
				{
					margin-left: 0;

				}

			}

		}

	}

	& menu
	{
		padding			: 12px 0 11px 0;
		border-bottom	: 1px solid #ffffff;
		background-color: #ffffff;

		& ul
		{
			display	  : flex;
			list-style: none;

			& li
			{
				align-self: baseline;

				& button
				{
					font		 	: normal 10px AvenirMedium;
					color		 	: #767676;
					border	  	 	: none;
					margin		 	: 0 12px 0 0;
					padding	  	 	: 5px 22px 5px 22px;
					border-radius	: 50px;
					background-color: #ededed;

				}

				&.active button
				{
					color			: #ffffff;
					background-color: #039be5;

				}

				&:first-child button
				{
					margin-left: 12px;

				}

				&:last-child button
				{
					margin-right: 12px;

				}

			}

		}

	}

	&.sticky menu
	{
		top			 : 0;
		width		 : 100%;
		z-index		 : 2;
		position	 : fixed;
		border-bottom: 1px solid #eaeaea;

	}

	&.sticky + main
	{
		padding-top: 46px;

	}

}

/*
 * AppBar
 */

#appbar
{
	top			 	: 0;
	width		 	: 100%;
	max-width		: 100vw;
	z-index		 	: 2;
	position	 	: fixed;
	background-color: #ffffff;

	& nav
	{
		padding: 12px 12px 16px 11px;

		& ul
		{
			display	  	   : flex;
			list-style	   : none;
			justify-content: space-between;

			& li
			{
				height	  : 0;
				align-self: baseline;

				& .title
				{
					font		 : normal 14px AvenirHeavy;
					color	 	 : #292929;
					margin		 : 5px 0 -2px 1px;
					display		 : inline-block;
					overflow	 : hidden;
					max-width	 : 172px;
					line-height	 : 1;
					white-space  : nowrap;
					text-overflow: ellipsis;

				}

				& a,
				& button
				{
					position: relative;

					&.arrow
					{
						top		  : 1px;
						color     : #292929;
						border	  : none;
						font-size : 18px;
						background: none;

						&:disabled
						{
							opacity: .14;

						}

					}

					&.bookmark
					{
						color     : #929292;
						border	  : none;
						font-size : 16px;
						background: none;

						&.active
						{
							color: #039be5;

						}

					}

					&.close
					{
						top		  : 0;
						color     : #292929;
						border	  : none;
						font-size : 16px;
						background: none;

					}

				}
				
				& button
				{
					&.arrow
					{
						margin-top: 1px;

					}

				}

			}

		}

	}

	&.sticky
	{
		border-bottom: 1px solid #eaeaea;

	}

}

/*
 * Main
 */

main
{
	margin			: 0 auto;
	padding			: 0 12px 24px 12px;
	background-color: #ffffff;

	& section
	{
		& .columns
		{
			& .column
			{
				padding-bottom: 0px;

				& .book
				{
					height	: 171px;
					margin  : 0 auto;
					position: relative;

					& .infos
					{
						width			: calc(50% + 20px);
						float		 	: left;
						height		 	: 151px;
						margin		 	: 10px 0 0 0;
						z-index		 	: 1;
						position	 	: relative;
						box-shadow	 	: 0 6px 12px rgba(0, 0, 0, .24);
						border-radius	: 8px;
						background-color: #ffffff;

						& .title-subtitle
						{
							height: 80px;

							& .title
							{
								font		 : normal 14px AvenirHeavy;
								color	 	 : #292929;
								margin		 : 12px 15px 0 15px;
								display		 : -webkit-box;
								overflow	 : hidden;
								text-overflow: ellipsis;

								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;

							}

							& .subtitle
							{
								font		 : normal 10px AvenirLight;
								color	 	 : #292929;
								margin		 : 12px 15px 0 15px;
								display		 : -webkit-box;
								overflow	 : hidden;
								text-overflow: ellipsis;

								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;

							}

						}

						& .star-ratings
						{
							margin: 4px 0 0 15px;

						}

						& .rating
						{
							right	 : 15px;
							margin	 : 5px 0 0 0;
							display  : inline-block;
							position : absolute;
							direction: rtl;

							& span
							{
								font : normal 10px AvenirHeavy;
								color: #ffaf2e;

							}

						}

						& .reviews
						{
							font   : normal 10px AvenirHeavy;
							color  : #039be5;
							margin : 13px 15px 0 15px;
							display: block;

						}

						& .arrow
						{
							font	: normal 28px AvenirMedium;
							color	: #bababa;
							right	: 14px;
							bottom  : 3px;
							position: absolute;

						}

					}

					& .thumbnail
					{
						width		   	   : 128px;
						height		   	   : 171px;
						overflow		   : hidden;
						right		   	   : 0;
						position	   	   : absolute;
						border-radius      : 6px;
						background-size	   : 100% 100%;
						background-repeat  : no-repeat;
						background-position: center center;

						&.thumbnail-curl
						{
							border-radius: 6px 6px 0 6px;

						}

						&.thumbnail-curl div
						{
							width	  : 26px;
							right	  : 0;
							height	  : 26px;
							bottom	  : 0;
							position  : absolute;
							background: linear-gradient(135deg, #ffffff, #f3f3f3 20%, #cccccc 38%, #bbbbbb 44%, #aaaaaa 50%, rgba(0, 0, 0, .5) 10%, #ffffff 50%, #ffffff);
							box-shadow: 0 0 10px rgba(0, 0, 0, .5);

						}

					}
					
					&.book-inverted
					{
						& .infos
						{
							float: right;

						}

						& .thumbnail
						{
							left : 0;
							right: unset;

						}

					}
					
				}

			}

		}

		&#list
		{
			& .no-records-found
			{
				top			   : 0;
				left		   : 0;
				width		   : 100%;
				height		   : 100vh;
				display		   : flex;
				z-index		   : 4;
				position	   : absolute;
				min-height	   : 400px;
				align-items	   : center;
				flex-direction : column;
				pointer-events : none;
				justify-content: center;

				& h1
				{
					font : normal 14px AvenirHeavy;
					color: #000000;

				}

				& p
				{
					font  : normal 10px AvenirLight;
					color : #000000;
					margin: 2px auto;

				}

			}

		}

		&#book-details
		{
			padding-top: 46px;

			& .details
			{
				& .is-mobile
				{
					margin	 	   : -12px auto 0 auto;
					max-width	   : 240px;
					justify-content: center;

					& .column
					{
						padding-top	   : 18px;
						padding-bottom : 13px;
						justify-content: flex-end;

						& a,
						& button
						{
							border	   : none;
							background : none;
							white-space: nowrap;
							align-items: center;						

							& svg
							{
								color    : #929292;
								font-size: 16px;

							}

							& svg.active
							{
								color: #039be5;

							}

							& span
							{
								font  : normal 10px AvenirLight;
								color : #929292;
								margin: 0 0 0 6px;

							}

						}

					}

				}

				& .title
				{
					font : normal 14px AvenirHeavy;
					color: #292929;

				}

				& .description
				{
					font  : normal 10px AvenirLight;
					color : #929292;
					margin: 4px 0 41px 0;

				}

			}

		}

		&#book-reviews
		{
			margin	   : 0 auto -12px auto;
			max-width  : 768px;
			padding-top: 44px;

			& .no-records-found
			{
				margin	  : 52px auto 42px auto;
				text-align: center;

				& h1
				{
					font : normal 14px AvenirHeavy;
					color: #000000;

				}

				& p
				{
					font  : normal 10px AvenirLight;
					color : #000000;
					margin: 2px auto;

				}

			}

			& .review
			{
				& .title
				{
					font		 : normal 14px AvenirHeavy;
					color	 	 : #292929;
					overflow	 : hidden;
					text-overflow: ellipsis;

				}

				& .description
				{
					font  : normal 10px AvenirLight;
					color : #929292;
					margin: 6px 0 0px 0;

				}

				& form
				{
					margin: 8px 0 12px 0;

					& textarea
					{
						font	 : normal 14px AvenirMedium;
						resize	 : none;
						padding  : 9px 12px 8px 12px;
						max-width: calc(100% - 26px);
						min-width: 0;

					}

					& button
					{
						font		 : normal 11px AvenirHeavy;
						color		 : #ffffff;
						border		 : none;
						padding		 : 10px 19px 9px 18px;
						background	 : #039be5;
						border-radius: 4px;

						&:disabled:not([data-loading])
						{
							background: #f5f5f5;

						}

					}

					& .error
					{
						font	  : normal 10px AvenirLight;
						color	  : #ff3860;
						margin	  : -7px 0 0 10px;
						z-index	  : 9;
						padding	  : 0 2px;
						position  : absolute;
						background: white;

					}

					& .help
					{
						font  : normal 10px AvenirHeavy;
						color : #c2c2c2;
						margin: 6px 0 -3px 0;
						
						& a
						{
							color: #039be5;

						}

					}

				}

				& .is-divider
				{
					width	: calc(100% - 114px);
					margin  : -28px 0 0 0;
					position: absolute;

				}

			}

			& .review:not(:first-child)
			{
				margin-top: 22px;

			}

			& .review
			{
				&:nth-child(2)
				{
					margin-top: -2px;

				}

			}

			& .load-more
			{
				margin: 12px 0 0 0;

				& button
				{
					font		 : normal 11px AvenirHeavy;
					color		 : #ffffff;
					border		 : none;
					margin		 : 0 auto;
					display		 : block;
					width		 : 100%;
					padding		 : 10px 19px 9px 18px;
					background	 : #039be5;
					border-radius: 4px;

					&:disabled:not([data-loading])
					{
						background: #f5f5f5;

					}

				}

			}

		}

		&#sign-in, &#sign-out, &#account, &#recover-password
		{
			margin	 : 0 auto 0 auto;
			max-width: 425px;

			& form
			{
				padding-top: 43px;

				& h1
				{
					font  : normal 14px AvenirHeavy;
					color : #292929;
					margin: 0 0 20px 0;

				}

				& input
				{
					font	 : normal 14px AvenirMedium;
					padding  : 2px 11px 0 11px;
					max-width: calc(100% - 24px);
					min-width: 0;

				}

				& .field
				{
					&.is-grouped
					{
						margin: 0;

					}

					&:not(.is-grouped):nth-child(2)
					{
						& input
						{
							padding  : 2px 35px 0 11px;
							max-width: calc(100% - 48px);

						}

					}

					&:last-child
					{
						text-align: center;

					}

				}

				& button:not(.icon):not(.forgot-password-btn)
				{
					font		 : normal 11px AvenirHeavy;
					color		 : #ffffff;
					border		 : none;
					margin		 : 0 auto;
					padding	  	 : 10px 12px 9px 12px;
					background	 : #039be5;
					border-radius: 4px;

				}

				& a
				{
					font : normal 10px AvenirHeavy;
					color: #039be5;

				}

				& button
				{
					pointer-events: initial;

					&.icon
					{
						height 	  : 100%;
						border	  : none;
						font-size : 16px;
						background: none;

					}

				}

				& p:not(.help):not(.error)
				{
					font  : normal 10px AvenirHeavy;
					color : #292929;
					margin: 10px 0 0 0;

				}

				& p
				{
					&.help
					{
						font  : normal 10px AvenirLight;
						color : #c2c2c2;
						margin: 6px 0 21px 0;

					}

					&.error
					{
						font	   : normal 10px AvenirLight;
						color	   : #ff3860;
						margin	   : -7px 0 0 10px;
						z-index	   : 9;
						padding	   : 0 2px;
						position   : absolute;
						background : white;
						white-space: nowrap;

					}

				}

				& .forgot-password
				{
					margin	  : -35px 0 21px 0;
					text-align: right;

					& button
					{
						font 	  : normal 10px AvenirHeavy;
						color	  : #039be5;
						border	  : none;
						margin	  : -35px 0 21px 0;
						padding	  : 0;
						background: none;
						text-align: right;

					}

				}

			}

			& .hidden
			{
				display: none;

			}

		}

		&#sign-in, &#sign-out, &#recover-password
		{
			max-width : 100%;
			overflow-x: hidden;

			& .wizard
			{
				width  	  : 200%;
				display	  : flex;
				transition: transform .45s ease;

				& .page
				{
					width	 : 100%;
					margin	 : 0 12px;
					max-width: 425px;

				}

				&.wizard-last-page
				{
					transform: translateX(-50%);

				}

			}

		}

		&#recover-password
		{
			& input[name^="code"]
			{
				text-transform: uppercase;

			}

		}

		&#privacy-and-terms
		{
			padding-top: 43px;

			& h1
			{
				font  : normal 14px AvenirHeavy;
				color : #000000;
				margin: 0 0 18px 0;

			}

			& p
			{
				font : normal 10px AvenirLight;
				color: #929292;

			}

		}

	}

	&.full-width
	{
		padding	 : 0 0 24px 0;
		max-width: 100%;

	}

}

/*
 * Share
 */

#share
{
	width	  : 100%;
	bottom	  : -100%;
	z-index	  : 3;
	position  : fixed;
	transition: bottom .45s ease;
	visibility: hidden;

	& nav
	{
		padding	 	 	: 11px 12px 11px 12px;
		box-shadow	 	: 0 -5px 5px -5px rgba(0, 0, 0, .24);
		border-top	 	: 1px solid #eaeaea;
		border-bottom	: 1px solid #eaeaea;
		background-color: #ffffff;

		& ul
		{
			display	  	   : flex;
			list-style	   : none;
			justify-content: space-between;

			& li
			{
				align-self: baseline;

				& .title
				{
					font		 : normal 14px AvenirHeavy;
					color	 	 : #292929;
					display		 : -webkit-box;
					overflow	 : hidden;
					line-height	 : 1;
					text-overflow: ellipsis;

				}
				
				& button
				{
					position: relative;

					&.close
					{
						top		  : 1px;
						color     : #292929;
						border	  : none;
						font-size : 16px;
						background: none;

					}

				}

			}

		}

	}

	& aside
	{
		padding			: 27px 12px 24px 12px;
		background-color: #ffffff;

		& .is-mobile
		{
			display		   : flex;
			justify-content: center;

			& .item
			{
					display		  : flex;
					align-items	  : center;
					flex-direction: column;

				& a
				{
					display		  : inherit;
					align-items	  : inherit;
					flex-direction: inherit;

					& svg
					{
						font-size: 22px;

					}

					&.email
					{
						& svg
						{
							color: #d44c3d;

						}

					}

					&.whatsapp
					{
						& svg
						{
							color: #2fb03a;

						}

					}

					&.skype
					{
						& svg
						{
							color: #1db7ed;

						}

					}

					& span
					{
						font  : normal 10px AvenirLight;
						color : #929292;
						margin: 6px 0 0 0;

					}

				}

			}

		}

	}

	& .overlay
	{
		top	      	  : 0;
		width	  	  : 100vw;
		height	  	  : 100vh;
		z-index	  	  : -1;
		opacity	  	  : 0;
		position  	  : fixed;
		background	  : #000000;
		transition	  : opacity .25s ease-in-out;
		pointer-events: none;

	}

	&.opened
	{
		bottom: 0;

		& .overlay
		{
			opacity		  : .7;
			pointer-events: initial;

		}

	}

}

/*
 * Footer
 */

#footer
{
	width		 	: 100%;
	bottom			: 0;
	z-index		 	: 2;
	padding			: 7px 0 6px 11px;
	position	 	: fixed;
	border-top		: 1px solid #eaeaea;
	background-color: #ffffff;

	& span
	{
		font : normal 12px AvenirHeavy;
		color: #039be5;

	}

	& a
	{
		top			 : -17px;
		font 		 : normal 11px AvenirHeavy;
		right		 : 24px;
		color		 : #ffffff;
		border	  	 : none;
		padding		 : 10px 12px 9px 12px;
		position	 : absolute;
		background	 : #039be5;
		border-radius: 4px;

	}

}