@media (min-width: 302px) {
  #page-not-found h1 {
    font: normal 16px AvenirHeavy;
    margin: 20px auto; }
  #page-not-found .go-home a {
    font: normal 12px AvenirHeavy;
    margin: 24px auto;
    padding: 12px 22px 11px 20px; }
  #bad-request h1 {
    font: normal 16px AvenirHeavy;
    margin: 20px auto; }
  #bad-request .buttons .go-home a {
    font: normal 12px AvenirHeavy;
    padding: 12px 22px 11px 20px; }
  #bad-request .buttons .reload button {
    font: normal 12px AvenirHeavy;
    padding: 12px 22px 11px 20px; }
  #drawer-menu .hamburger {
    top: 24px;
    left: 24px; }
  #drawer-menu .menu .title-subtitle {
    padding: 24px; }
    #drawer-menu .menu .title-subtitle .title {
      margin: 0 51px 0 0; }
    #drawer-menu .menu .title-subtitle .subtitle {
      margin: -1px 51px 0 1px; }
  #drawer-menu .menu .score {
    padding: 30px 12px 29px 12px; }
  #drawer-menu .menu nav ul {
    height: calc(100% - 159px); }
    #drawer-menu .menu nav ul li a {
      margin: 0 24px; }
    #drawer-menu .menu nav ul li:last-child {
      padding: 24px 0; }
    #drawer-menu .menu nav ul li:last-child a:not(.button) {
      margin: 2px 12px 2px 12px; }
    #drawer-menu .menu nav ul li .button {
      font: normal 12px AvenirHeavy;
      padding: 12px 14px 11px 14px; }
  #drawer-menu.opened + .app nav {
    padding: 25px 0 6px 23px; }
  #drawer-menu.opened .hamburger {
    margin-left: calc(100vw - 116px); }
  #header nav {
    padding: 25px 0 6px 68px; }
    #header nav ul li button {
      margin: 0 0 0 16px; }
  #header menu {
    padding: 24px 0 23px 0; }
    #header menu ul li:first-child button {
      margin-left: 24px; }
    #header menu ul li:last-child button {
      margin-right: 24px; }
  #header.sticky + main {
    padding-top: 70px; }
  #appbar nav {
    padding: 21px 24px 27px 23px; }
    #appbar nav ul li .title {
      margin: 8px 0 -1px 1px; }
    #appbar nav ul li a.arrow,
    #appbar nav ul li button.arrow {
      font-size: 22px; }
    #appbar nav ul li a.bookmark,
    #appbar nav ul li button.bookmark {
      font-size: 20px; }
    #appbar nav ul li a.close,
    #appbar nav ul li button.close {
      top: 1px;
      font-size: 22px; }
  main {
    padding: 0 24px 24px 24px; }
    main section .columns .column {
      padding-bottom: 12px; }
    main section#list .no-records-found h1 {
      font: normal 16px AvenirHeavy; }
    main section#list .no-records-found p {
      font: normal 12px AvenirLight; }
    main section#book-details {
      padding-top: 70px; }
      main section#book-details .details .is-mobile .column {
        padding-bottom: 25px; }
        main section#book-details .details .is-mobile .column a svg,
        main section#book-details .details .is-mobile .column button svg {
          font-size: 20px; }
      main section#book-details .details .description {
        margin: 4px 0 58px 0; }
      main section#book-details .details .columns:last-child .column {
        margin: 0 auto;
        max-width: 568px;
        justify-content: left; }
    main section#book-reviews {
      margin: 0 auto; }
      main section#book-reviews .no-records-found h1 {
        font: normal 16px AvenirHeavy; }
      main section#book-reviews .no-records-found p {
        font: normal 12px AvenirLight; }
      main section#book-reviews .review .description {
        margin: 12px 0 0 0; }
      main section#book-reviews .review .is-divider {
        width: calc(100% - 159px);
        margin-top: -31px; }
      main section#book-reviews .review form button {
        font: normal 12px AvenirHeavy;
        padding: 12px 22px 11px 20px; }
      main section#book-reviews .review:not(:first-child) {
        margin-top: 24px; }
      main section#book-reviews .review:nth-child(2) {
        margin-top: -3px; }
      main section#book-reviews .load-more {
        margin: 24px 0 0 0; }
        main section#book-reviews .load-more button {
          font: normal 12px AvenirHeavy;
          padding: 12px 22px 11px 20px; }
    main section#sign-in form, main section#sign-out form, main section#account form, main section#recover-password form {
      padding-top: 67px; }
      main section#sign-in form button:not(.icon):not(.forgot-password-btn), main section#sign-out form button:not(.icon):not(.forgot-password-btn), main section#account form button:not(.icon):not(.forgot-password-btn), main section#recover-password form button:not(.icon):not(.forgot-password-btn) {
        font: normal 12px AvenirHeavy;
        padding: 12px 14px 11px 14px; }
    main section#sign-in .wizard .page, main section#sign-out .wizard .page, main section#recover-password .wizard .page {
      margin: 0 24px; }
    main section#privacy-and-terms {
      padding-top: 67px; }
  #share aside .is-mobile .item a svg {
    font-size: 28px; }
  #footer {
    padding: 13px 0 12px 11px; }
    #footer span {
      font: normal 14px AvenirHeavy; }
    #footer a {
      top: -19px;
      font: normal 12px AvenirHeavy;
      right: 35px;
      padding: 12px 14px 11px 14px; } }

@media (min-width: 320px) {
  #drawer-menu .menu .title-subtitle {
    padding: 21px 24px 21px 24px; }
    #drawer-menu .menu .title-subtitle .title {
      font: normal 16px AvenirHeavy; }
    #drawer-menu .menu .title-subtitle .subtitle {
      font: normal 12px AvenirLight;
      margin: 1px 51px 0 1px; }
  #drawer-menu .menu .score {
    padding: 46px 24px 45px 24px; }
    #drawer-menu .menu .score .item p {
      font: normal 12px AvenirLight;
      line-height: 14px; }
  #drawer-menu .menu nav ul {
    height: calc(100% - 195px); }
    #drawer-menu .menu nav ul li a {
      font: normal 16px AvenirHeavy;
      padding: 15px 0 14px 0; }
    #drawer-menu .menu nav ul li:last-child a:not(.button) {
      font: normal 11px AvenirHeavy;
      margin: 2px 12px 3px 12px;
      line-height: 1px; }
  #drawer-menu.opened + .app nav {
    padding: 22px 0 4px 22px; }
  #header nav {
    padding: 22px 0 4px 74px; }
    #header nav ul li button {
      font: normal 14px AvenirMedium; }
    #header nav ul li.active button {
      font: normal 28px AvenirHeavy; }
  #header menu ul li button {
    font: normal 12px AvenirMedium;
    padding: 5px 32px 5px 32px; }
  #header.sticky + main {
    padding-top: 73px; }
  #appbar nav {
    padding: 23px 24px 28px 23px; }
  main section .columns .column {
    display: flex;
    justify-content: center; }
    main section .columns .column .book {
      width: 100%; }
  main section#list .book-link {
    width: 100%; }
  main section#book-details {
    padding-top: 73px; }
  main section#book-reviews {
    padding-top: 71px; }
    main section#book-reviews .no-records-found {
      margin-bottom: 45px; }
    main section#book-reviews .review form .error {
      font: normal 11px AvenirLight; }
    main section#book-reviews .review form .help {
      font: normal 11px AvenirHeavy; }
  main section#sign-in form, main section#sign-out form, main section#account form, main section#recover-password form {
    padding-top: 70px; }
    main section#sign-in form a,
    main section#sign-in form p, main section#sign-out form a,
    main section#sign-out form p, main section#account form a,
    main section#account form p, main section#recover-password form a,
    main section#recover-password form p {
      font: normal 11px AvenirHeavy; }
      main section#sign-in form a.help, main section#sign-in form a.error,
      main section#sign-in form p.help,
      main section#sign-in form p.error, main section#sign-out form a.help, main section#sign-out form a.error,
      main section#sign-out form p.help,
      main section#sign-out form p.error, main section#account form a.help, main section#account form a.error,
      main section#account form p.help,
      main section#account form p.error, main section#recover-password form a.help, main section#recover-password form a.error,
      main section#recover-password form p.help,
      main section#recover-password form p.error {
        font: normal 11px AvenirLight; }
    main section#sign-in form .forgot-password, main section#sign-out form .forgot-password, main section#account form .forgot-password, main section#recover-password form .forgot-password {
      margin: -35px 0 21px 0; }
      main section#sign-in form .forgot-password button, main section#sign-out form .forgot-password button, main section#account form .forgot-password button, main section#recover-password form .forgot-password button {
        font: normal 11px AvenirHeavy; }
  main section#privacy-and-terms {
    padding-top: 71px; }
    main section#privacy-and-terms .columns .column {
      display: block; } }

@media (min-width: 380px) {
  #drawer-menu .menu {
    max-width: 340px; }
  #drawer-menu.opened + .app {
    transform: translateX(340px); }
  #drawer-menu.opened .hamburger {
    margin-left: 264px; } }

@media (min-width: 425px) {
  #page-not-found h1 {
    font: normal 18px AvenirHeavy;
    margin: 19px auto; }
  #page-not-found .go-home a {
    font: normal 13px AvenirHeavy;
    padding: 14px 18px; }
  #bad-request h1 {
    font: normal 18px AvenirHeavy;
    margin: 19px auto; }
  #bad-request .buttons .go-home a {
    font: normal 13px AvenirHeavy;
    padding: 14px 18px; }
  #bad-request .buttons .reload button {
    font: normal 13px AvenirHeavy;
    padding: 14px 18px; }
  #drawer-menu .hamburger {
    padding: 12px 9px 5px 9px; }
  #drawer-menu .hamburger-box {
    width: 22px;
    height: 20px; }
  #drawer-menu .hamburger-inner {
    margin-top: -2px; }
    #drawer-menu .hamburger-inner, #drawer-menu .hamburger-inner::before, #drawer-menu .hamburger-inner::after {
      width: 22px;
      height: 4px; }
    #drawer-menu .hamburger-inner::before {
      top: -6px; }
    #drawer-menu .hamburger-inner::after {
      bottom: -6px; }
  #drawer-menu .hamburger--slider .hamburger-inner {
    top: 2px; }
    #drawer-menu .hamburger--slider .hamburger-inner::before {
      top: 6px; }
    #drawer-menu .hamburger--slider .hamburger-inner::after {
      top: 12px; }
  #drawer-menu .hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 6px, 0) rotate(45deg); }
    #drawer-menu .hamburger--slider.is-active .hamburger-inner::before {
      transform: rotate(-45deg) translate3d(calc(22px / -7), -2px, 0); }
    #drawer-menu .hamburger--slider.is-active .hamburger-inner::after {
      transform: translate3d(0, -12px, 0) rotate(-90deg); }
  #drawer-menu .menu .title-subtitle {
    padding: 22px 24px 23px 24px; }
    #drawer-menu .menu .title-subtitle .title {
      font: normal 20px AvenirHeavy;
      margin: 0 64px 0 0; }
    #drawer-menu .menu .title-subtitle .subtitle {
      font: normal 14px AvenirLight;
      margin: 2px 64px 0 1px; }
  #drawer-menu .menu .score {
    padding: 58px 24px 56px 24px; }
    #drawer-menu .menu .score .item p {
      font: normal 14px AvenirLight;
      line-height: 24px; }
  #drawer-menu .menu nav ul {
    height: calc(100% - 250px); }
    #drawer-menu .menu nav ul li a {
      font: normal 20px AvenirHeavy;
      padding: 15px 0 19px 0; }
    #drawer-menu .menu nav ul li:last-child a:not(.button) {
      font: normal 12px AvenirHeavy;
      margin: 9px 12px 3px 12px;
      line-height: 1px; }
    #drawer-menu .menu nav ul li .button {
      font: normal 13px AvenirHeavy;
      padding: 14px 18px; }
  #drawer-menu.opened + .app nav {
    padding: 28px 0 10px 22px; }
  #drawer-menu.opened .hamburger {
    margin-left: 252px; }
  #header nav {
    padding: 28px 0 10px 86px; }
  #header menu {
    padding: 32px 0 31px 0; }
  #header.sticky + main {
    padding-top: 89px; }
  #share nav {
    padding: 17px 24px 18px 24px; }
    #share nav ul li .title {
      font: normal 20px AvenirHeavy; }
    #share nav ul li button {
      position: relative; }
      #share nav ul li button.close {
        top: 2px;
        font-size: 23px; }
  #share aside {
    padding: 37px 22px 34px 22px; }
    #share aside .is-mobile .item a svg {
      font-size: 32px; }
    #share aside .is-mobile .item a span {
      font: normal 14px AvenirLight; }
  #appbar nav {
    padding: 31px 24px 36px 23px; }
    #appbar nav ul li .title {
      font: normal 20px AvenirHeavy;
      margin: 1px 0 -4px 1px;
      max-width: 242px; }
    #appbar nav ul li button.close {
      top: 0; }
      #appbar nav ul li button.close.close-fix {
        top: 1px; }
  main {
    margin: 0 auto 0 auto; }
    main section .columns .column .book {
      width: 378px;
      height: 250px; }
      main section .columns .column .book .infos {
        height: 210px;
        margin: 20px 0 0 0;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24);
        border-radius: 10px; }
        main section .columns .column .book .infos .title-subtitle {
          height: 88px; }
          main section .columns .column .book .infos .title-subtitle .title {
            font: normal 20px AvenirHeavy;
            margin: 25px 30px 0 30px; }
          main section .columns .column .book .infos .title-subtitle .subtitle {
            font: normal 12px AvenirLight;
            margin: 13px 30px 0 30px; }
        main section .columns .column .book .infos .star-ratings {
          margin: 19px 0 0 30px; }
        main section .columns .column .book .infos .rating {
          margin: 22px 15px 0 0; }
          main section .columns .column .book .infos .rating span {
            font: normal 12px AvenirHeavy; }
        main section .columns .column .book .infos .reviews {
          font: normal 12px AvenirHeavy;
          margin: 16px 30px 0 30px; }
        main section .columns .column .book .infos .arrow {
          font: normal 32px AvenirHeavy;
          right: 29px;
          bottom: 17px; }
      main section .columns .column .book .thumbnail {
        width: 50%;
        height: 100%;
        border-radius: 10px; }
        main section .columns .column .book .thumbnail.thumbnail-curl {
          border-radius: 10px 10px 0 10px; }
    main section#list .book-link {
      width: initial; }
    main section#list .no-records-found h1 {
      font: normal 18px AvenirHeavy; }
    main section#list .no-records-found p {
      font: normal 13px AvenirLight; }
    main section#book-details {
      padding-top: 122px; }
      main section#book-details .details .is-mobile .column {
        padding-bottom: 22px; }
      main section#book-details .details .title {
        font: normal 20px AvenirHeavy; }
      main section#book-details .details .description {
        font: normal 14px AvenirLight;
        margin: 3px 0 63px 0; }
    main section#book-reviews {
      padding-top: 121px; }
      main section#book-reviews .no-records-found {
        margin-top: 68px; }
        main section#book-reviews .no-records-found h1 {
          font: normal 18px AvenirHeavy; }
        main section#book-reviews .no-records-found p {
          font: normal 13px AvenirLight; }
      main section#book-reviews .review .title {
        font: normal 20px AvenirHeavy; }
      main section#book-reviews .review .description {
        font: normal 14px AvenirLight;
        margin: 29px 0 0px 0; }
      main section#book-reviews .review form {
        margin: 22px 0 12px 0; }
        main section#book-reviews .review form button {
          font: normal 13px AvenirHeavy;
          padding: 14px 26px 14px 26px; }
        main section#book-reviews .review form .error {
          font: normal 12px AvenirLight; }
        main section#book-reviews .review form .help {
          font: normal 12px AvenirHeavy;
          margin: 6px 0 -20px 0; }
      main section#book-reviews .review .is-divider {
        width: 100%;
        position: relative;
        margin-top: 0; }
      main section#book-reviews .review:not(:first-child) {
        margin-top: 49px; }
      main section#book-reviews .review:nth-child(2) {
        margin-top: 51px; }
      main section#book-reviews .load-more button {
        font: normal 13px AvenirHeavy;
        padding: 14px 26px 14px 26px; }
    main section#sign-in form, main section#sign-out form, main section#account form, main section#recover-password form {
      padding-top: 117px; }
      main section#sign-in form h1, main section#sign-out form h1, main section#account form h1, main section#recover-password form h1 {
        font: normal 20px AvenirHeavy;
        margin: 0 0 56px 0; }
      main section#sign-in form input, main section#sign-out form input, main section#account form input, main section#recover-password form input {
        padding: 6px 11px 4px 11px; }
      main section#sign-in form .field:first-child, main section#sign-out form .field:first-child, main section#account form .field:first-child, main section#recover-password form .field:first-child {
        margin: 0 0 24px 0; }
      main section#sign-in form .field:not(.is-grouped):nth-child(2) input, main section#sign-out form .field:not(.is-grouped):nth-child(2) input, main section#account form .field:not(.is-grouped):nth-child(2) input, main section#recover-password form .field:not(.is-grouped):nth-child(2) input {
        padding: 6px 35px 4px 11px; }
      main section#sign-in form a, main section#sign-out form a, main section#account form a, main section#recover-password form a {
        font: normal 12px AvenirHeavy; }
      main section#sign-in form button:not(.icon):not(.forgot-password-btn), main section#sign-out form button:not(.icon):not(.forgot-password-btn), main section#account form button:not(.icon):not(.forgot-password-btn), main section#recover-password form button:not(.icon):not(.forgot-password-btn) {
        font: normal 13px AvenirHeavy;
        padding: 14px 18px; }
      main section#sign-in form p:not(.help):not(.error), main section#sign-out form p:not(.help):not(.error), main section#account form p:not(.help):not(.error), main section#recover-password form p:not(.help):not(.error) {
        font: normal 12px AvenirHeavy;
        margin: 16px 0 0 0; }
      main section#sign-in form p.help, main section#sign-out form p.help, main section#account form p.help, main section#recover-password form p.help {
        font: normal 12px AvenirLight;
        margin: 6px 0 45px 0; }
      main section#sign-in form p.error, main section#sign-out form p.error, main section#account form p.error, main section#recover-password form p.error {
        font: normal 12px AvenirLight; }
      main section#sign-in form .forgot-password, main section#sign-out form .forgot-password, main section#account form .forgot-password, main section#recover-password form .forgot-password {
        margin: -59px 0 45px 0; }
        main section#sign-in form .forgot-password button, main section#sign-out form .forgot-password button, main section#account form .forgot-password button, main section#recover-password form .forgot-password button {
          font: normal 12px AvenirHeavy; }
    main section#privacy-and-terms {
      padding-top: 117px; }
      main section#privacy-and-terms h1 {
        font: normal 20px AvenirHeavy;
        margin: 0 0 53px 0; }
      main section#privacy-and-terms p {
        font: normal 14px AvenirLight; }
  #footer {
    padding: 13px 0 13px 23px; }
    #footer span {
      font: normal 16px AvenirHeavy; }
    #footer a {
      top: -22px;
      font: normal 13px AvenirHeavy;
      right: 47px;
      padding: 14px 18px; } }

@media (min-width: 473px) {
  main section#sign-in .wizard .page, main section#sign-out .wizard .page, main section#recover-password .wizard .page {
    margin: 0 auto; } }

@media (min-width: 768px) {
  #appbar nav ul li .title {
    max-width: 488px; }
  main section#book-reviews .load-more {
    margin: 48px 0 24px 0; }
    main section#book-reviews .load-more button {
      width: auto; } }

@media (min-width: 769px) {
  main section .columns {
    display: block !important;
    margin-left: auto;
    margin-right: auto; }
  main section#book-details .details .is-mobile {
    display: flex !important; }
  main section#book-details .details .description {
    margin: 4px 0 75px 0; }
  #share aside {
    padding: 64px 24px 60px 24px; } }

@media (min-width: 828px) {
  main {
    max-width: 780px; }
    main section:not(#book-details):not(#privacy-and-terms) .columns {
      display: flex !important;
      margin-left: -0.75rem;
      margin-right: -0.75rem; } }

@media (min-width: 1024px) {
  #appbar nav ul li .title {
    max-width: 688px; } }

@media (min-width: 1230px) {
  main {
    max-width: 1182px; }
    main section#book-details .details .columns:last-child .column {
      max-width: 768px; }
    main section#privacy-and-terms .columns .column {
      margin: 0 auto;
      max-width: 768px; } }

@media (min-width: 1632px) {
  main {
    max-width: 1584px; } }
