| Hi #{name}!
|
| You're receiving this email because you requested an recover password for your Google Books Api account.
| Please visit the link below to register a new password.
|
| Code: #{code}
|
| #{link}
|
| If you didn't ask to recover your password, please ignore this email