| Hi #{name}!
|
| Welcome to Google Books Api.
| You can now sign in and have full access to resources.
|
| Visit the link below to see the books list.
|
| #{link}
|
| You have received this email because you have signed up for Google Books Api